/* start first training  */
/* *{
height: 400px;
background-color: red;
color: white;
border: 5px solid green;
}
img{
    width: 100px;
    height: 100px;
} */
/* end  first training  */

/* start seconed training  */

/* end seconed training  */
