 /* ex1  */
/* 
 #chat{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15fr 1fr;
    grid-template-areas: 
    "f c"
    "f i";
}

#friends{
    grid-area: f;
    display: grid;
    background-color: rgb(203, 100, 203);
    padding: 10px;
    grid-template-rows: 2fr repeat(4,1fr);
    align-items: flex-start;
}
#friends > p{
    background-color: gray;
    padding: 5px;

}
#chatbox{
    grid-area: c;
    display: grid;
    align-items: center;
}
.text-container{
    display: grid;
    grid-template-columns:auto auto;
    margin: 10px;
}

.left{
    justify-content: start; 
}
.right{
    justify-content: end;
}

.text{
    padding: 15px;
}
.right >p {
    background-color: greenyellow;
}
.left > p {
    background-color: gray;
}
.time{
    display: grid;
    font-size: 16px;
    align-content: end;
    padding: 2px;
}
#input{
    grid-area: i;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content:center ;

}
#input >div{
    background-color: rgb(203, 100, 203);
    color: white;
    text-align: center;
    padding: 10px;
} */

/* ex2 */


/* 
.my-layout{
    display: grid;
    background-color: antiquewhite;
    height: 100vh;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    "n n n"
    "as m ar"
    "f f f";
    grid-gap: 30px;
}

.nav{
    grid-area: n;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    background-color: gray;
    color: white;
}

.nav .logo > img{
    width: 20%;
    height: 80px;
}
.nav > .links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav > .links >li{
    margin: 0 10px;
}
.nav > .links >li>a{
    text-decoration: none;
    color: white;
}
.nav > .links >li>a:hover{
    color: rgb(179, 75, 75);
}

.aside{
    grid-area: as;
    display: grid;
    grid-template-columns: minmax(200px ,1fr) ;
    justify-items: center;
    border: 2px solid gray;
}
.parent-letters{
    border: 4px solid gray ;
}
.parent-letters > div {
    display: grid;
    height: 24.3%;
    border-bottom: 4px solid gray;
    padding: 0 10px;
    align-items: center;
}
.main{
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid gray;
}
.col{
    border:1px solid gray;
    padding: 5px;
}
.article{
    grid-area: ar;
    display: grid;
    grid-template-columns: auto;
    border: 2px solid gray;
}
.first-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "imin imin" 
    "juin juin";
}
.img-info{
    grid-area: imin;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.img {
    border: 1px solid white;
}
.img >img{
    width: 100%;
    height: 100%;
}
.info{
    padding: 5px;
}
.just-info{
    grid-area: juin;
    display: grid;
    padding: 10px;
}
.second-card{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.container-img{
    border: 2px solid  white
}
.second-card > .container-img >img{
    width: 100%;
    height: 100%;
}
.second-card > div:last-of-type {
    padding: 10px;
    border: 1px solid gray;
}

.footer{
    grid-area: f;
    display: grid;
    grid-template-columns: 1fr;
    background-color: gray;
    color: white;
    justify-items: end;
}
.footer > p{
    border: 1px solid red;
    background-color: white;
    padding: 5px;
    color: gray;
} */