
  /* ex 1  */
  #container{
    display: inline-block;
    background-color: gray;
    border: 1px solid red;
    box-shadow: 10px 10px 10px gray;
  }
  .box{
    border: 1px solid black;
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  #first{
    background-color: green;

  }
  #second{
    background-color: red;
  }
  .button{
    background-color: green;
    border-color: green;
    color: white;
  }

  /* spots */
  /* 
    body{
    background: #ddd;
  }
  nav{
    background-color:rgba(51, 51, 51) ;
  }
  .hero-img{
    width: 100%;
  }
  li:first-child{
    background-color: green;
  }
  */
